# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build
/.next/
/out/

# Production
/build

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
*.sqlite
data/*.sqlite

# Misc
.DS_Store
*.pem

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts
